USE [master]
GO
/****** Object:  Database [Power_BI2]    Script Date: 8/21/2025 2:45:53 PM ******/
CREATE DATABASE [Power_BI2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Power_BI2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Power_BI2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Power_BI2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Power_BI2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Power_BI2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Power_BI2]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/21/2025 2:45:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[Type] [nvarchar](20) NULL,
	[OpenDate] [varchar](20) NULL,
	[Balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CombinedBankingDataset]    Script Date: 8/21/2025 2:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CombinedBankingDataset](
	[TransactionID] [int] NULL,
	[Transaction_AccountID] [int] NULL,
	[TransactionDate] [varchar](20) NULL,
	[TransactionType] [varchar](20) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Description] [nvarchar](200) NULL,
	[Currency] [varchar](10) NULL,
	[Account_AccountID] [int] NULL,
	[Account_CustomerID] [int] NULL,
	[AccountType] [nvarchar](20) NULL,
	[OpenDate] [varchar](20) NULL,
	[Balance] [decimal](18, 2) NULL,
	[CustomerID] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/21/2025 2:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8/21/2025 2:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] NULL,
	[AccountID] [int] NULL,
	[TransactionDate] [varchar](20) NULL,
	[Type] [varchar](20) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Description] [nvarchar](200) NULL,
	[Currency] [varchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
